.review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.review-card img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
}

.review-card h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
}

.review-card p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
}
