.business-card-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ebebeb;
  height: 350px;
  width: 300px;
  padding: 5px;
}

.business-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
