.edit-review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-review-textarea {
  width: 400px;
  height: 200px;
}

.update-review-post-button {
    width: 200px;
    height: 35px;
    background-color: rgba(224, 7, 7, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }