.business-create-container {
  display: grid;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin: 10;
  }

  .business-create-form {
  display: grid;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin: 10px;
  }

  .business-form{
    display: grid;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin: 10px;
    padding: 10%;
    padding-top: 2%;
    }

  .price-radios{
    display: grid;
    grid-template-columns: 20px;
    }

  .autocomplete-container {
  position: relative;
  width: 100%;
  }

  .autocomplete-input {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  }

  .suggestion-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 100;
  position: absolute;
  margin-top: 0.2rem;
  width: 100%;
  }

  .suggestion-container p {
  font-size: 1rem;
  margin: 0.5rem 0;
  }

  .suggestion {
  padding: 0.5rem;
  cursor: pointer;
  }

  .suggestion:hover {
  background-color: #f2f2f2;
  }

  .errors {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: red;
  }

  .form-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  }

  .business-form-input {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  }

  .business-form-price-container {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  margin-bottom: 1rem;
  }

  .business-form-price-container span {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  }

  /* .business-form-price-container button {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  }

  .business-form-price-container button span {
  font-size: 1rem;
  }

  .business-form-price-container button:hover {
  background-color: #ccc;
  }

  .business-form-price-container button.on {
  background-color: #0073bb;
  color: #fff;
  border: none;
  }

  .business-form-price-container button.on:hover {
  background-color: #005fa3;
  }

  .business-form-price-container button.off {
  opacity: 0.6;
  } */

  .places-autocomplete-container {
  width: 100%;
  }

  .places-autocomplete-container input {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  }

  .places-autocomplete-container div {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 100;
  position: absolute;
  margin-top: 0.2rem;
  width: 100%;
  }

  .places-autocomplete-container div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

  .places-autocomplete-container div li {
  padding: 0.5rem;
  cursor: pointer;
  }

  .places-autocomplete-container div li:hover {
  background-color: #f2f2f2;}
