/* On hover effect for dollar signs */
.business-form-price-container > button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: #000;
}

.off {
  color: #ccc;
}

.price-rating {
  font-size: 16px;
}
